<div class="relative bg-gray-100 content">
  <img src="https://img.freepik.com/free-photo/fast-food-dish-blue_155003-27519.jpg?semt=ais_hybrid" alt="Delicious Food" class="absolute inset-0 object-cover w-full h-full opacity-50" />

  <div class="relative z-10 container mx-auto p-6 flex flex-col items-center text-white text-center">
    <h1 class="text-5xl font-bold mb-4 drop-shadow-lg bg-blue-500 p-2 rounded-full">Welcome to Recipes for All !</h1>
    <p class="text-xl mb-6 drop-shadow-lg">Find and share your favorite recipes.</p>
    <a routerLink="/recipes" class="bg-blue-600 text-white px-6 py-2 rounded-full hover:bg-blue-700 transition duration-300">
      Get Started
    </a>
  </div>
</div>
